<h2>Create New Post</h2>

<form class="post-form">
    <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="text" id="post-title">
    </div>
    <div class="form-group">
        <label for="post-content">Content</label>
        <input class="form-input" type="text" id="post-content">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>

<script src="./js/post.js"></script>